<div class="home-container">
  <div class="menu-bar">
    <app-menu-bar></app-menu-bar>
  </div>
  <div class="games">
    <app-card Console="PS4" Price="R$249,99" Tag="Exclusivo" PhotoCover="../../assets/bft.png"></app-card>
    <app-card Console="PC" Price="R$69,99" Tag="Digital" PhotoCover="../../assets/fifa.png"></app-card>
    <app-card Console="PS4" Price="R$150,00" Tag="Digital" PhotoCover="../../assets/cod.png"></app-card>
  </div>
  <div class="games">
    <app-card Console="PC" Price="R$55,00" Tag="Exclusivo" PhotoCover="../../assets/fall.png"></app-card>
    <app-card Console="PS4" Price="R$319,99" Tag="Digital" PhotoCover="../../assets/last.png"></app-card>
    <app-card Console="PS4" Price="R$120,00" Tag="Exclusivo" PhotoCover="../../assets/mine.png"></app-card>
  </div>
</div>

