<div class="home-container">
  <div class="menu-bar">
    <app-menu-bar></app-menu-bar>
  </div>
  <div class="games">
    <app-card Console="PS4" Price="R$249,99" Tag="Exclusivo" PhotoCover="https://i.postimg.cc/Vkz6NNyV/image.png"></app-card>
    <app-card Console="PC" Price="R$69,99" Tag="Digital" PhotoCover="https://i.postimg.cc/BvgwGMTz/image.png"></app-card>
    <app-card Console="PS4" Price="R$150,00" Tag="Digital" PhotoCover="https://i.postimg.cc/tTpDSP8z/image.png"></app-card>
  </div>
  <div class="games">
    <app-card Console="PC" Price="R$55,00" Tag="Exclusivo" PhotoCover="https://i.postimg.cc/kG94tM6G/image.png"></app-card>
    <app-card Console="PS4" Price="R$319,99" Tag="Digital" PhotoCover="https://i.postimg.cc/mZFJPNBP/image.png"></app-card>
    <app-card Console="PS4" Price="R$120,00" Tag="Exclusivo" PhotoCover="https://i.postimg.cc/5tQLBmgr/image.png"></app-card>
  </div>
</div>

